<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Paths -->
    <add key="PATH:SamFolder" value="e:\Academics\PSAM\" />
    <add key="PATH:HapFolder" value="e:\Academics\" />
    <add key="PATH:outputFolder" value="e:\Academics\Output" />

    <!-- Parameters -->
    <add key="PARAM:Chromosomes" value="23" />
    <add key="PARAM:Ploidity" value="2" />
    <add key="PARAM:ConvolutionSigmaDensity" value="0.2"/> <!-- The width of the mode for the gaussian kernel used in interpolation -->
    <add key="PARAM:MinAvgPhred" value="10"/> <!-- Minimum average Phred score to ignore sequencing reads -->
    <add key="PARAM:MinSnpPhred" value="10"/> <!-- Minimum Phred score for a bi-allelic position to ignore sequencing reads -->
    <add key="PARAM:ReadMinDistances" value="1000"/> <!-- Minimum genomic distance between read ends -->
    <add key="PARAM:ReadMinBinDistances" value="1"/> <!-- Minimum number of HT-blocks between mapped reads -->
    <add key="PARAM:PhaseNonSnps" value="false"/> <!-- Interpolate using mono-allelic reads -->
    <!-- Logging -->
    <add key="PARAM:PrintDetail" value="Detailed" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcServer enabled="true" />
  </runtime>
</configuration>